version: '3'
services:
  service:
    build: app
    expose:
      - "8000"
    env_file:
      - ./.env
    volumes:
      - staticdata:/opt/app/static

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./configs:/etc/nginx/conf.d:ro
      - staticdata:/data/static
    depends_on:
      - service
    ports:
      - "80:80"

  theatre-db:
    image: postgres:16
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    expose:
      - "5432"
    volumes:
      - ./database_dump.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  staticdata:
